/* Global Styles */
body {
    margin: 0;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(216, 216, 216);
    color: #BC1820;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header Styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    padding: 25px 5%;
    color: rgb(216, 216, 216);
    position: relative;
}

.header-left img {
    width: 300px; /* Adjust size as needed */
}

.header-right {
    display: flex;
    gap: 20px;
}

.header-right a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.header-right a:hover {
    color: #BC1820;
}

.menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header-right {
        display: none;
        padding-left: 25px;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        background-color: #202020;
        width: 100%;
        padding: 10px;
    }

    .header-right a {
        margin-left: 40px;
        padding: 10px;
        border-bottom: 1px solid #2f2f2f;
    }

    .menu-icon {
        display: block;
    }
}

/* Main Content Styles */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

/* Card Section Styles */
.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    display: block;
    margin: 0 auto 20px;
    height: 60px;
}

.card h3 {
    font-size: 20px;
    color: #333;
    margin: 15px 0;
}

.card p {
    font-size: 15px;
    color: #666;
    margin-bottom: 25px;
    line-height: 1.5;
}

.login-button {
    display: inline-block;
    text-align: center;
    padding: 12px 20px;
    background-color: #9b2323;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #cc3232;
}

/* Footer Styles */
footer {
    background-color: #fbf4d9;
    color: #613d1d;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    border-top: 1px solid #ddd;
}
